.SiteList {
  grid-area: list;
  height: 100%;
  padding: 0.5rem 1rem;
  overflow-y: scroll;
  position: relative;
}

.SiteList.loading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.SiteList.loading::after {
  content: "";
  position: absolute;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  height: 60px;
  width: 60px;
  border-top: 5px solid #333;
  border-right: 5px solid #333;
  border-bottom: 5px solid transparent;
  border-left: 0 solid transparent;
  border-radius: 100%;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.SiteList__exception {
  text-align: center;
  color: #666;
  margin-bottom: 5rem;
}

.SiteList__footer {
  text-align: center;
  margin-bottom: 1rem;
}
